*{
    background:rgb(158, 153, 162) ;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 20px 40px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
    color: #fff;
}

.blue {
    background-color: #3498db;
}

.green {
    background-color: #2ecc71;
}
